[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.13.0"
pycountry = "==22.3.5"
tinydb = "==4.7.0"

[dev-packages]
mypy = "*"
black = "*"
pylint = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
debugpy = "*"

[requires]
python_version = "3.10"
